html {
	overflow: hidden;
	min-height: 500px;
}

body {
	font-family: "Roboto",sans-serif;
	background-color: #fff;
	font-size:90%;
	width: 350px;
	min-height: 500px;
	overflow: hidden;
}

h2 {
	font-family: "Roboto",sans-serif;
	font-size: 20px;
	font-weight: 400;
}

p {
	font-family: "Roboto",sans-serif;
	font-weight: 100;
	font-size: 12px;
	margin-bottom: 30px;
}

a {
	color: #ffffff;
}

a:visited {
	color: #ffffff;
}

legend {
	color: #135571;
	font-weight: 100; 
}

label {
	margin-top:20px;
	padding-top: 20px;
	display:block;
}

input {
	font-weight: 300;
	font-family: "Roboto",sans-serif;
	font-size: 14px;
	height: 22px;
	line-height: 22px;
	border:1px solid #ccc;
	font-size:14px;
	/*display: block;*/
	min-height:22px;
	margin-bottom:25px;
	margin-top:5px;
	outline: none;
}

select {
	border:1px solid #ccc;
	font-weight: 300;
	font-size: 14px;
	font-family: "Roboto",sans-serif;
	line-height: 22px;
	min-height:22px;
	display:block;
	margin-bottom:25px;
	margin-top:5px;
	outline: none;
}

select option {
    background: rgba(0,0,0,0.3);
}

.background {
}

.logo {
	position: absolute;
	top: 12px;
	left: 12px;
}

.masked {
	display: none;
}

.displayed {
	display: block;
}

.options {
	height: 48px;
	background-color: #fff;
}

.actionButton {
	border: 1px solid #155F7E;
	background-color: #155F7E;
	font-family: "Roboto",sans-serif;
	color: #ffffff;
	text-align: center;
	cursor: pointer;
	min-height: 30px;
	height: 30px;
	display: inline-block;
	outline: none; 
}

.actionButton:hover {
	background-color: #0F4257;
	border: 1px solid #0F4257;
}

.left {
position: relative;
width: 90px;
margin-left: 163px;
margin-top: 9px;
font-size: 12px;
font-weight: 100;
}

.right {
position: absolute;
width: 90px;
left: 268px;
top: 57px;
font-size: 12px;
font-weight: 100;
}

.endDateLabel {
	position: absolute;
	left: 195px;
	top: 262px;
}

.recurrenceLabel {
	position: absolute;
	left: 195px;
	top: 188px;
}

.durationLabel {
	position: absolute;
	left: 195px;
	top: 334px;
}

.endDateInput {
	position: absolute;
	left: 195px;
}

.meetingPassword {
	font-weight: 100;
	position: relative;
	top: -6px;
	color: #696969;
}

.passwordCheck {
	margin-bottom: 0;
}

.firstTitle {
	margin-top: 16px;
}

.titleInput, .urlInput{
	width: 335px;
	padding-left: 10px;
	margin-bottom: 25px;
}

.recurrenceType {
	width: 160px;
	height: 25px;
	background-color: #ffffff;
	position: absolute;
	left: 195px;
	top: 206px;
	padding-left: 10px;
}

.recurrenceType:disabled {
	background-color: #efefef;
}

.conferenceType {
	width: 160px;
	height: 25px;
	background-color: #ffffff;
	padding-left: 10px;
}

.dateInput {
	width: 150px;
	padding-left: 10px;
}

.passwordInput {
	width: 150px;
	padding-left: 10px;
}

.passwordInput:disabled {
	background-color: #efefef;
}

.digit {
	font-family: "Roboto",sans-serif;
	font-weight: 300;
	color: #2980B9;
	font-size: 12px;
	margin-left: 10px;
}

.firstLine {
	margin-top: 30px;
}

.leader, .participant {
	font-weight: 400;
	margin-top: 30px;
}

.startTimeInput {
	width: 75px;
	padding-left: 10px;
	display: block;
}

.durationInput {
	width: 75px;
	position: absolute;
	left: 195px;
	top: 352px;
	padding-left: 10px;
}

.result {
	font-style: italic;
}

.title {
	line-height: 40px;
	background-color: #0F4257;
	width: 99%;
	color: #ffffff;
	font-size: 18px;
	font-weight: 300; 
	text-align: left;
	padding-left: 37px;
}

.loginButton, .checkButton {
 	border: 1px solid #155F7E;
	background-color: #155F7E;
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	cursor: pointer;
	padding: 0 20px 0 20px;
	margin: 35px auto 5px auto;
	min-height: 30px;
	line-height: 30px;
	display: block;
	outline: none; 
}

.loginButton:hover, .checkButton:hover {
	background-color: #0F4257;
	border: 1px solid #0F4257;
}

.loginButton:disabled {
	background-color: #D1D5D8;
	border: 1px solid #D1D5D8;
	cursor:default;
}

.createButton {
 	border: 1px solid #155F7E;
	background-color: #155F7E;
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	cursor: pointer;
	padding: 0 20px 0 20px;
	margin: 30px auto 5px auto;
	min-height: 30px;
	line-height: 30px;
	display: block;
	outline: none; 
}

.createButton:hover {
	background-color: #0F4257;
}

:invalid { 
  border-color: #2980B9;
  background-color: #2980B9;
  -webkit-box-shadow: 0 0 5px #2980B9;
  box-shadow:0 0 5px #2980B9;
  color: #ffffff;
}

:required {
  border-color: #2980B9;
  /*-webkit-box-shadow: 0 0 5px #2980B9; */
}

.okP {
	margin-bottom: 0;
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.4);
	z-index: 99999;
	display: none;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.error {
	font-weight: 400;
}

.visible {
	display:block;
	pointer-events: auto;
}

.blur {
	-webkit-filter: grayscale(0.5) blur(2px);
}

.registerInput {
	width: 94%;
  	height: 25px;
  	margin-bottom: 10px;
  	padding-left: 15px;
  	background: #fff;
  	border: none;
  	color: #2980B9;
  	outline: none;
}

.popup {
	width: 260px;
	position: relative;
	margin: 40px auto;
	padding: 5px 20px 13px 20px;
	background-color: #2980B9;
	color: #ffffff;
}

.popupLegend {
	color: #ffffff;
	font-size: 12px;
	font-weight: 100;
	margin-top: 6px;
	font-family: "Roboto",sans-serif;
}

.checkResult {
	color: #ffffff;
	font-weight: 400;
	margin-top: 6px;
	font-family: "Roboto",sans-serif;
}

.meetings {
	position: relative;
	list-style: none;
	height: 422px;
	width: 100%;
	overflow: auto;
	/* padding-top: 6px; */
	margin: 0;
	-webkit-padding-start: 0px;
}

li.buddies-item {
  position: relative;
  cursor: pointer;
  height: 100px;
  width: 332px;
  background-color: rgba(124, 135, 139, 0.72);
  margin-bottom: 12px;
}

.meetingTitle {
	font-family: "Roboto",sans-serif;
	font-weight: 100;
	font-size: 16px;
	color: #fff;
	position: absolute;
	top: 32px;
	left: 10px;
	width: 300px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.meetingStartDate {
	font-family: "Roboto",sans-serif;
	font-weight: 400;
	font-size: 11px;
	color: #0F4257;
	position: absolute;
	top: 7px;
	left: 9px;
	width: 225px;
}

.meetingTime {
	font-family: "Roboto",sans-serif;
	font-weight: 400;
	font-size: 11px;
	color: #0F4257;
	position: absolute;
	top: 7px;
	left: 220px;
	width: 100px;
	text-align: right;
}

.meetingTimezone {
	font-family: "Roboto",sans-serif;
	font-weight: 400;
	font-size: 11px;
	color: #0F4257;
	position: absolute;
	top: 17px;
	left: 220px;
	width: 100px;
	text-align: right;
}

.meetingState {
	font-family: "Roboto",sans-serif;
	font-weight: 100;
	font-size: 11px;
	color: #F5F5F5;
	position: absolute;
	top: 53px;
	left: 11px;
	width: 300px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	/* font-style: italic; */
}

.meetingRemoveButton {
	position: absolute;
	width: 70px;
	height: 24px;
	min-height: 24px;
	left: 255px;
	top: 67px;
	font-size: 10px;
	font-weight: 100;
}

.spinner {
	position: absolute;
	top: 100px;
	width: 350px;
	height: 400px;
}
