<div class='popupSettings'>
	<h2 data-i18n="about.title"></h2>
	<p class='okP firstLine copyrightText' data-i18n="about.copyright-begin"></p>
	<p class='okP firstLine copyrightText' data-i18n="about.copyright-end"></p>
	<p class='okP firstLine clearCookies'><a class='termsLink' href='' data-i18n="about.terms"></a></p>
	<p class='okP firstLine clearCookies'><a href='#' class='cookiesLink' data-i18n="about.cookies"></a></p>
	<button type="action" id='closeBtn' class="centerButton">Close</button>
</div>