<div class='popupSettings'>
	<h2 data-i18n="about.title"></h2>
	<p class='okP firstLine copyrightText' data-i18n="about.copyright-begin"></p>
	<p class='okP firstLine copyrightText' data-i18n="about.copyright-end"></p>
	<p class='okP firstLine clearCookies'><a class='termsLink' href='' data-i18n="about.terms"></a></p>
	<p class='okP firstLine aboutInfo'></p>
	<p class='okP firstLine acsInfo'></p>
	<p class='okP firstLine licenseInfo'>&copy;Alcatel-Lucent Enterprise - 2015</p>
	<button type="action" id='closeBtn' class="centerButton" data-i18n="error.close"></button>
</div>