	<div class="meeting-state"/>
	<span class="meetingTitle"></span>
	<span class="meetingState"></span>
	<span class="meetingTime"></span>
	<span class="meetingTimezone"></span>
	<span class="meetingStartDate"></span>
	<span class="meetingStartDateNext"></span>
	<div class="meetingActionButton meeting-join-button"></div>
	<!--<div class="meetingActionButton meeting-invite-button masked"></div>-->
	<div class="meetingActionButton meeting-details-button"></div>
	<div class="meetingActionButton meeting-edit-button"></div>
	<div class="meetingActionButton meeting-remove-button"></div>
