<div class='popupSettings'>
	<h2 data-i18n="settings.title"></h2>
	<p data-i18n="settings.subtitle"></p>
	<legend class='popupLegend' data-i18n="settings.login"></legend>
 	<input type="text" name="titleRegister" class="registerInput" id='login' required placeholder="&#61447;   e.g. jsmith" autofocus>
 	<legend class='popupLegend' data-i18n="settings.password"></legend>
 	<input type="password" name="passwordRegister" class="registerInput" id='password' required placeholder="&#61475;   e.g. &#9679;&#9679;&#9679;&#9679;&#9679;" >
 	<legend class='popupLegend' data-i18n="settings.server"></legend>
 	<input type="text" name="ot" class="registerInput" id='ot' required placeholder="&#61634;   e.g. vm-155.alcatel-lucent.com" >
 	<button type="action" class="cancelBtn" data-i18n="settings.cancel"></button>
 	<button type="action" class="saveBtn" data-i18n="settings.save"></button>
</div>