<form id='editor' class='editor'>
 	<legend class='title'>OpenTouch Meeting Manager</legend>
	<img class='logo' src='./opentouch.png' width="32" height="32" />
	<div title='About' class='aboutButton'></div>
	<div class='background'>
	 	<legend class='firstTitle' data-i18n="editor.name"></legend>
	 	<input type="text" name="title" class="titleInput" required placeholder="&#61508;   Enter a name" value="New Meeting" autofocus>	
	 	<legend class='profileTitle' data-i18n="editor.profile"></legend>
	 	<select class="profileType" required>
			<option value="meeting" data-i18n="conference.meeting"></option>
			<option value="webinar" data-i18n="conference.webinar"></option>
			<option value='training' data-i18n="conference.training"></option>
			<option value="call" data-i18n="conference.call"></option>
		</select>
	 	<legend class="firstTitle" data-i18n="editor.type"></legend>
		<select class="conferenceType" required>
				<option value="scheduled" data-i18n="editor.scheduled"></option>
				<option value="reservationless" data-i18n="editor.reservationless"></option>
		</select>
		<legend class='recurrenceLabel' data-i18n="editor.recurrence"></legend>
		<select class="recurrenceType" required>
			<option value="none" data-i18n="editor.onetime"></option>
			<option value="daily" data-i18n="editor.daily"></option>
			<option value="weekly" data-i18n="editor.weekly"></option>
		</select>
		<legend class='firstTitle', data-i18n="editor.timezone"></legend>
		<select class="timezoneType" required>
		</select>
		<legend class="firstTitle" data-i18n="editor.start"></legend>
		<input type="date" name="date" class="dateInput" required >
		<legend class='endDateLabel' data-i18n="editor.end"></legend>
		<input type="date" name="enddate" class="endDateInput" required disabled>
		<legend class="firstTitle" data-i18n="editor.hour"></legend>
		<input id="start_time" type="time" class="startTimeInput" name="start_time" required >
		<legend class='durationLabel' data-i18n="editor.duration"></legend>
		<input id="duration" type="number" class="durationInput" name="duration" value="1" min="1" max="23" required>
	 	<input type="checkbox" name="passwordCheck" id="checkbox_id" value="password" class='passwordCheck'><span class='meetingPassword' data-i18n="editor.password"></span>
	 	<input type="password" name="password" class="passwordInput" placeholder="&#61475;   e.g. &#9679;&#9679;&#9679;&#9679;&#9679;" value="" required disabled>
	 	<span class='digit' data-i18n="editor.digit"> </span>
	</div>
	<div class='options'>
		<button type="action" id='scheduleBtn' class='actionButton right' data-i18n="editor.schedule"></button>
		<button type="action" id='cancelBtn' class="actionButton left" data-i18n="editor.cancel"></button>
	</div>
</form>