<div class='invite'>
	<legend class='title'>OpenTouch Meeting Manager</legend>
	<img class='logo' src='./opentouch.png' width="32" height="32" />
	<div title='About' class='aboutButton'></div>
	<ul class='invites scrollbars'></ul>
	<div class='options'>
		<button type="action" id='inviteBtn' class='actionButton inviteBtn' data-i18n="invite.invite"></button>
		<button type="action" id='guestBtn' class='actionButton guestBtn' data-i18n="invite.guest"></button>
		<button type="action" id='cancelBtn' class="actionButton inviteCancelBtn" data-i18n="editor.cancel"></button>
	</div>

</div>