<div class='mainScreen'>
	<legend class='title'> OpenTouch Meetings Manager</legend>
	<img class='logo' src='./lift_48.png' width="32" height="32" />
	<div title='About' class='aboutButton'></div>
	<div class='options-main'>
		<button type="action" id='createBtn' class="actionButton left" data-i18n="main.meeting" disabled></button>
		<button type="action" id='settingBtn' class="actionButton right" data-i18n="main.settings"></button>
	</div>
	<div class='empty masked' id='empty'>
		<img class='emptyLogo' width='80' height='80' src='./lift_128.png' />
		<div class='emptyTitle' data-i18n="main.no-meeting"></div>
		<div class='emptyMessage' data-i18n="main.list"></div>
	</div>
	<div class='errorMessage masked'>
		<div data-i18n='main.error' class="errorMessage-firstLine"></div>
		<div data-i18n='main.error-next'></div>
	</div>
	<ul id='meetings' class='meetings scrollbars'></ul>
	<div class='copyright'>
		<button type="action" id='allBtn' class="actionButton allBtn" data-i18n="main.all"></button>
		<button type="action" id='liveBtn' class="actionButton liveBtn selected" data-i18n="main.live"></button>
		<button type="action" id='soonBtn' class="actionButton soonBtn" data-i18n="main.soon"></button>
		<button type="action" id='pastBtn' class="actionButton pastBtn" data-i18n="main.past"></button>
	</div>
	
</div>