<div class='mainScreen'>
	<legend class='title'> OpenTouch Meetings Manager</legend>
	<img class='logo' src='./lift_48.png' width="32" height="32" />
	<div title='About' class='aboutButton'></div>
	<div class='options-main'>
		<button type="action" id='createBtn' class="actionButton left" data-i18n="main.meeting" disabled></button>
		<button type="action" id='settingBtn' class="actionButton right" data-i18n="main.settings"></button>
	</div>
	<div class='empty' id='empty'>
		<img class='emptyLogo' width='80' height='80' src='./lift_128.png' />
		<div class='emptyTitle' data-i18n="main.no-meeting"></div>
		<div class='emptyMessage' data-i18n="main.list"></div>
		<div class='errorMessage' data-i18n='main.error'></div>
	</div>
	<ul id='meetings' class='meetings scrollbars'></ul>
	<div class='copyright'>&copy;Alcatel-Lucent Enterprise - 2014</div>
	<div class='spinner' id='spinner'></div>
</div>