<div class='details'>
	<div class='details-topbar'>
		<img class='details-logo' src='./opentouch.png' width="32" height="32" />
		<p class='details-subject'></p>
	</div>

	<div class='details-infos'>
		<span class="details-title" data-i18n="meetingDetails.title"></span>
		<p class='details-subtitle' data-i18n="meetingDetails.subtitle"></p>

		<span class="details-option" data-i18n="meetingDetails.data"></span>
		<p class='details-url details-data'></p>
		
		<span class="details-option" data-i18n="meetingDetails.audio"></span>
		<ul class="details-audio-list"></ul>

		<span class="details-option" data-i18n="meetingDetails.code"></span>
		<ul class="details-code-list"></ul>

		<span class="details-option" data-i18n="meetingDetails.invite"></span>
		<ul class="details-invite-list"></ul>

		<span class="details-option details-from-option masked" data-i18n="meetingDetails.from"></span>
		<p class='details-from details-data masked'></p>

	</div>
</div>